<div class="main-container">

<div class="search-container">
  <h1 class="main__title">Buscador de Series</h1>
  <input class="field__fill-series" type="text" value="" name="text" id="text" required>
  <button class="search-btn">Search</button>
  <button class="log">log</button>
  <div class="favorites-container">
    <div class="title-btnReset">
        <button class="reset-btn">Reset</button>
        <h2 class="fav-list-title">Mis Series Favoritas</h2>
    </div>
      <ul class="fav-list-container">

      </ul>
    </div>
</div>
<div class="series-container">
  <ul class="series-list">

  </ul>
</div>
</div>
