.main-container{
  display: grid;
  grid-template-columns: auto 1fr;
}
.search-container{
  width: 300px;
}
.series-container{
  grid-column:2/3;
}
.series-list{
  display: flex;
  flex-wrap:wrap;
  list-style: none;
}
.img-fav{
  width: 80px;
}
.serie-fav{
  background:pink;
}
.list-item{
  text-align: center;
}
.img-list{
  width: 200;
}
.id-list{
  display: none;
}

.fav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-delet {
  color: transparent;
  background-image: url(../images/x-image.png);

}
