.main-container{
  display: grid;
  grid-template-columns: auto 1fr;
}
.search-container{
  width: 350px;
  border-right: #701818 solid 5px;
  padding: 20px;
}
.series-container{
  grid-column:2/3;
  padding: 20px;
  height: 100vh;
}
.series-list{
  display: flex;
  flex-wrap:wrap;
  list-style: none;
}
.img-fav{
  width: 80px;
}
.serie-fav{
  background:#9e3b3b;
}
.list-item{
  text-align: center;
  width: 200px;
}
.img-list{
  margin-top:20px;
  width: 150px;
}
.id-list{
  display: none;
}

.fav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-delet {
  color: transparent;
  font-size: 1px;
  width: 20px;
  height: 20px;
  background-image: url(../images/x-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;

}
.fav-list-title{
  margin: 20px 0 20px 0;
  text-align: center;
}
.main__title{
  margin: 20px 0 20px 0;
}
.field__fill-series{
  width: 250px;
}
//.search-btn{
//}
